Source: pick-files
Section: golang
Priority: optional
Maintainer: Nicolas Bock <nicolasbock@gmail.com>
Build-Depends:
 debhelper-compat (= 12),
 dh-golang,
 golang-any,
 golang-github-juju-gnuflag-dev,
 golang-github-rs-zerolog-dev
Standards-Version: 4.5.0
Homepage: https://github.com/nicolasbock/filechooser

Package: pick-files
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Randomly pick some files from a set of directories.
